* {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 67.5%;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
}

h4 {
    font-size: 0.8rem;
}

body {
    width: 100vw;
    height: 100%;
    padding: 20%;
    background: linear-gradient(to bottom, red, pink);
}

main {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 40rem;
    width: 80rem;
    border: 2px solid black;
    border-top-width: 1rem;
    border-radius: 1rem 1rem 0rem 1rem;
    padding: 1rem;
    background-color: white;
}

main .photo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 15rem;
    height: 15rem;
    border: 1px solid black;
    border-radius: 1rem;
    background: rgb(197, 237, 255);
}

main .photo img {
    width: 80%;
    height: 80%;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 19rem;
    color: green;
}

header .input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.input #input1 {
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1.3rem;
}

#input1 input {
    font-size: 1.5rem;
    width: 30rem;
    height: 2.4rem;
    border: 0.2rem blue solid;
    border-radius: 0.5rem;
}

.input #input2 {
    width: 100%;
    height: 3rem;
    align-items: center;
}

#input2 input{
    width: 10rem;
    height: 3rem;
    background-color: rgb(197, 237, 255);
    color: black;
    font-size: 1.4rem;
    font-weight: bold;
}

.text {
    padding: 1rem;
    text-align: justify;
    color: rgb(9, 154, 221);
}