* {
    margin: 0px;
    padding: 0px;
    border: opx;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 67.5%;
}

:root {
    /*Cores do Header*/
    --background-black-header: #070b0f;
    --background-cinza-header: #e6e7e8;
    --background-cinzaEscuro-header: #58595b;
    --background-blue-header: #3777ee;
    /*Letras*/
    --color-blue-word-body-e-Header: #3777ee;
    --color-white-word-header: #fbfeff;
    --color-cinza-word-header: #58595b;
    /*Flexbox*/
    --flexBox-background-white: #fbfbfb;
    --flexBox-color-blue: #3777ee;
    --flexBox-words-hover-azulEscuro: #182c3f;
    /*Cores estruturais*/
    --body-white: #efeff0;
    --flexBox-white: #ffffff;

}

a {
    text-decoration: none;
    color: black;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: var(--flexBox-white);
}

.headerFixa {
    width: 100%;
    display: grid;
    grid-template-rows: 45px 50px;
    padding: 0;
    margin: 0;
    border: 0px;
    position: fixed;
}

.headUm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color: var(--background-black-header);
    color: var(--color-white-word-header);
}

/*
.headUm #rcn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headUm #meiaSete {
    display: flex;
    border-radius: 50%;
    border: 1px solid var(--color-white-word-header);
}

.headUm h2 {
    font-weight: bold;
    font-size: 2rem;
}
*/

.headDois {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-cinza-header);
}

.headDois #logoDois {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.headDois #logoDois img {
    -webkit-transition: all 0.4s ease; 
    transition: all 0.4s ease;
}

.headDois #logoDois img:hover {
    -webkit-transform:scale(1.1);
    transform:scale(1.05);    
    opacity: 0.7;
}

.headDois #opcao {
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headDois #barra {
    height: 20px;
    width: 1px;
    background-color: #9AA0AD;
}

.headDois #opcao a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-cinza-word-header);
    font-size: 3rem;
    font-weight: bold;
}

.headDois #opcao a:hover{
    color: var(--background-black-header);
}

.headDois #icons {
    width: 2rem;
    height: 54%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    margin-right: 30px;
}

.headDois #icons a {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 20px;
    height: 19.94px;
}


#icons #facebook {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 65%;
    border-radius: 0.3rem;
    border: 1px solid black;
}

#icons #facebook i {
    color: var(--background-cinzaEscuro-header);
    font-size: 1.7rem;
}
#icons #instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 65%;
    border-radius: 0.3rem;
    border: 1px solid black;
}

#icons #instagram i {
    color: var(--background-cinzaEscuro-header);
    font-size: 1.7rem;
}

header {
    margin-top: 95px;
    display: grid;
    grid-template-rows: 120px 48px;
    height: 168px; /*263px de altura*/
    width: 100vw;
}

.headTres {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--background-blue-header);
}

.headTres #menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 60px;
    margin-left: 40px;
}

.headTres #menu i {
    font-size: 40em;
    padding: 0px;
    margin: 0px;
    border: 0px;
    color: var(--color-white-word-header);
}

.tvc {
    width: 14rem;
    height: 6rem;
    margin-left: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tvc a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white-word-header);
    font-size: 3.2rem;    gap: 0.8rem;
    font-weight: normal;
}

.radios {
    width: 103.83px;
    width: 14rem;
    height: 6rem;
    justify-content: flex-start;
}

.radios a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    color: var(--color-white-word-header);
    font-size: 3.2rem;    
    font-weight: normal;

}

.radios #iconeRadio i {
    font-weight: normal;
    font-size: 2rem;
}

.logoTres {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30rem;
    margin-left: 10rem;
    height: 6rem;
}

.date {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 20rem;
    height: 6rem;
}

.date h2 {
    color: var(--color-white-word-header);
    font-size: 1.4rem;
}

.date #cidade {
    display: flex;
    justify-content: center;
    align-items: center;
}


.zap {
    width: 17rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7rem;
}

.zap #wordZap {
    display: flex;
    align-items: center;
    gap: 3px;
}

.zap #wordZap h2 {
    font-size: 1.5rem;
    font-weight: bold;
}
.zap #wordZap h3 {
    font-weight: 350;
}

.zap a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white-word-header);
    font-size: 3rem;
    pointer-events: none;
    gap: 2px;
}

.zap #iconZap i{
    font-size: 1.8rem;
}

.headQuatro {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--background-cinzaEscuro-header);
}

.container {
    width: 128rem;
    height: 2.8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container h2 {
    font-size: 1.4rem;
    color: var(--color-white-word-header);
    font-weight: 400;
    letter-spacing: 2px;
}

.container #emojiMap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-white-word-header);
}

#emojiMap i {
    font-size: 2.3rem;
}

.headQuatro #ponto {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1rem;
    color: var(--color-white-word-header);
}

.ask {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 5fr;
    height: 100%;
    width: 150px;
    border-radius: 4px;
    background-color: #bcbec0; /*#7a7b7d*/
    margin-right: 1rem;
}

.ask #lupa {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ask #lupa i{
    margin-left: 0.3rem;
    font-size: 2.1rem;
    color: #7a7b7d;
}

.ask #input input[type=text] {
    color: var(--background-cinzaEscuro-header);
    font-size: 1.2rem;
    border: none;
    background: #bcbec0;
    height: 100%;
    width: 100%;
    font-weight: 500;
}

.ask #input input[type=text]:hover {
    border: 0px;
}

.ask #input input[type=text]:focus {
    border: 0px;
    box-shadow: 0 0 0 0;
    outline: 0;
} 


/*
    * Conteúdo da escrita
    *Aqui estou fazendo a parte que interessa
*/

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e7e8;
    padding: 0px;
    margin: 0px;
    border: 0px;
    width: 100vw;
    height: 100rem;
}

.contentMain {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    height: 100%;
    border: 1px solid black ;
    margin-top: 7rem;
    background-color: var(--flexBox-white);
}

.headerContent {
    height: 10%;
    width: 56%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.headerContent #aumentarFonte {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.headerContent #diminuirFonte {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.headerContent input[type=button] {
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
    background: var(--flexBox-white);
}

.regularTexto {
    display: flex;
    width: 10rem;
    justify-content: space-between;
}

.regularTexto #inicialText button {
    width: 2rem;
    height: 2rem;
}

.regularTexto #inicialText button i {
    text-align: center;
    font-size: 1.5rem;
}

.regularTexto #midText button {
    width: 2rem;
    height: 2rem;
}

.regularTexto #midText button i {
    text-align: center;
    font-size: 1.5rem;
}
.regularTexto #justificarText button {
    width: 2rem;
    height: 2rem;
}

.regularTexto #justificarText button i {
    text-align: center;
    font-size: 1.5rem;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 70%;
    width: 70%;
    margin-top: 2%;
    border: 1px solid black;
}

form {
    width: 100%;
    height: 100%;
}

article .escrita {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50rem;
    align-items: center;
    justify-content: start;
}

article .cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    width: 100%;
}

article .cabecalho input[type=text] {
    width: 70%;
    border: 1px solid black;
    height: 4rem;
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-cinza-word-header);
}

article .cabecalho input[type=text]:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

article #noticia {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    width: 100%
}

article #noticia input[type=text] {
    width: 70%;
    border: 1px solid black;
    height: 4rem;
    font-size: 2rem;
    font-weight: bold;
    color: var(--background-blue-header);
}

article .descricao {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    width: 100%;
}

article .descricao input[type=text] {
    width: 70%;
    border: 1px solid black;
    height: 4rem;
    font-size: 2rem;
}


